{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Álbum Familiar</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <h1>Álbum Familiar</h1>
    </header>

    <main>
        {% block content %}
    
        {% endblock %}
    </main>

    <footer>
        <p>© {{ year|default:2025 }} - Nuestro álbum familiar</p>
    </footer>

</body>
</html>
